.location-list {
    height: 85vh;
    overflow: auto;
}

.header-forecast {
    padding-top: 10px;
    text-align: center;
}

.progress {
    align-content: center;
}

@media (max-width: 64em) {
    .location-list {
        max-height: 30vh;
        overflow: auto;
        margin-bottom: 20px;
    }
}

.detail {
    background: #ffffff;
    height: 95vh;
    width: 85%;
    overflow: auto;
}